.sass-cache
node_modules
.idea
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
/wp-content/themes/miriamgrice/lib/dist/css/main.scss.BASE.css
/wp-content/themes/miriamgrice/lib/dist/css/main.scss.LOCAL.css
/wp-content/themes/miriamgrice/lib/dist/css/main.scss.REMOTE.css
/database/miriam_db.sql
/database/miriam_db_latest.sql
/wp-content/themes/jhd/lib/dist/img/tempbg.jpg
